
.construction {
  background-color:#212B31;
  padding: 144px 0 118px 0;
  background-image: url("../../img/costructor-bg.svg");
  background-repeat: no-repeat;

}

.construction__content {

}

.construction__heading {

}

.construction__list {

}

.construction__item {

}

.construction__item-heading {

}

.construction__item-text {

}

.construction__buttons {

}

.secondry-btn {

}

.primary-btn {

}

.primary-btn--big {

}

.construction__bottom-list {

}

.construction__bottom-item {

}

.construction__bottom-item-heading {

}

.construction__bottom-item-text {

}
