.footer-site-top {
  display: flex;
  justify-content: space-between;
  margin-left: -5px;
  margin-right: -5px;
  display: none;
}

.footer-site-top__first-box {
  width: 221px;
  margin: 0 5px;
  margin-bottom: 160px;
}

.footer-site__logo-link {
  display: block;
  margin-bottom: 22px;
}

.footer-site__logo-img {
  display: block;
}

.footer-site__address {
  font-weight: normal;
  font-size: 15px;
  font-style: normal;
  line-height: 24px;
  color: #72787D;
  margin-bottom: 10px;
}

.footer-site-top__link {
  text-decoration: none;
  display: block;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #72787D;
  &:hover {
    color: #036FC7;

  }
}

.footer-site-top__tel {
  margin-bottom: 20px;
}

.footer-site-top__social-img {
  &:hover path {
    fill:#036fc7;
  }
}

.footer-site-top__second-box {
  width: 104px;
  margin: 0 5px;
}

.footer-site-top__heading {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #212B31;
  margin-bottom: 22px;

}

.footer-site-top__list {
  list-style-type: none;
  padding: 0;
}

.footer-site-top__item-link {
  text-decoration: none;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #72787D;
  margin-bottom: 8px;
  &:hover {
    color: #036FC7;
  }
}

.footer-site-top__third-box {
  width: 112px;
  margin: 0 5px;
}

.footer-site-top__fourth-box {
  margin: 0 5px;
  width: 140px;
}
